<div class="container mt-5">
  <div class="row border border-warning justify-content-center p-5">
  <div class="col-6">
    <h2 style="text-align:center">Please leave a review </h2>
    <%= simple_form_for [@reservation, @shelter_review] do |f| %>
      
      <%= f.input :rating %>
      <%= f.input :content %>
      <%= f.submit "Submit review", class: "btn btn-info rounded-pill " %>
    <% end %>
  </div>

</div>