.main-div {
  width: 100%;


  .banner-img{
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
.logo-img {
  margin: 0 auto;
  width:200px;
  display: block;
}

.form-search {
  width: 100%;
  border-radius: 0 15px 15px 0px;


}
.home-search {
  width: 500px;
  display: flex;
  margin: 0 auto;

}

.home-btn {
  padding: 7px 32px;
  border-radius: 15px 0 0 15px;
  color: rgb(70,70,70);
  background-color: #f29224;
  border-style: none;
  transition: .4s;
  font-family: 'Source Sans Pro', sans-serif;
  &:hover {
background-color: #faa360;
color: black;
opacity: 1;
  }
}
