// Import page-specific CSS files here.
@import "home";

.bottom-link {
  border: 1px rgba(10,10,10,.2) ridge;
  box-shadow: 1px 2px 5px rgba(0,0,0,.4);
  padding-bottom: 20px;
}

.main-holder {
  margin-left: 148px;
}
.container1 {
  width: 95%;
  margin: 0 auto;
}
.individual-card {
  box-shadow: 2px 4px 5px rgba(0,0,0,.4);
  padding: 0;
  margin: 15px 30px;
}

.pet-img {
  width: 418px;
  height: 310px;
  object-fit: cover;
  object-position: center;

}