// Import page-specific CSS files here.
@import "home";
@import "show";
@import "edit";
.bottom-link {
  
}
.bottom-link1 {
  padding: 20px;
  flex-grow: 1;
}

.main-holder {
  
}
.container1 {
  width: 95%;
  margin: 0 auto;
}
.individual-card {
  padding: 0px;
  margin: 20px 20px;
  height: 720px;
}

.pet-img {
  object-fit: cover;
  object-position: center;
  height: 275px;

}
.card-body {
  padding: 0px;
}

.list-group-item {
  width: 100%
}

