

.btn-primary  {
    font-size: 25px;
    display: block;
    width: 300px;
}

.show-img {
    height: 400px;
}

.container2 {
    margin: 0 auto;
    width: 90%;
}

.back-shelter-btn {
    display: block;
    margin: 10px auto;
}